NEXT_PUBLIC_SUPABASE_URL='https://fyuftckbjismoywarotn.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ5dWZ0Y2tiamlzbW95d2Fyb3RuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjgzMzQ1NDUsImV4cCI6MjA0MzkxMDU0NX0.tj44FWEbuUrQ4edpruraXwB2QWkFvN27tbIV-TuLSgM'