@import './variables';

body {
  font-family: $font-family-base;
  color: $text-color;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.audio-preview {
  audio{
    display: block;
  }
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.double_range_slider_box {
  margin-top: 20px;

  audio {
    display: block;
    margin: 0 auto;
  }

  .double_range_slider {
    position: relative;
    height: 50px;

    input[type='range'] {
      position: absolute;
      width: 100%;
      pointer-events: none;
      -webkit-appearance: none;
      background: none;
    }

    input[type='range']::-webkit-slider-thumb {
      pointer-events: all;
      width: 16px;
      height: 16px;
      background: #007bff;
      border-radius: 50%;
      -webkit-appearance: none;
    }

    .range_track {
      position: absolute;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
      background: #007bff;
      border-radius: 3px;
    }

    .minvalue,
    .maxvalue {
      margin-top: 20px;
      font-weight: bold;
    }
  }
}

.highlight {
  color: #ECAC64;
}

.deleted {
  color: rgba(255, 0, 0, 0.38);
}

.css-1m7iqxj{
  background-color: transparent !important;
}

.css-12j8z0f {
  background: transparent !important;
}