@import './mixins.scss';
@import './variables.scss';

.home {
  margin-left: 17vw;
  background-color: $white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;

  .homeContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .musicDecoration {
    height: auto;
    position: absolute;
    width: 200px;
    margin-left: 5vw;
  }

  .vinylDecoration {
    height: auto;
    position: absolute;
    width: 200px;
    bottom: -50px;
    right: 5vw;
  }

  .homeContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    h1 {
      @include textColorGradient;
      text-transform: uppercase;
      font-style: italic;
      font-family: 'Goia', sans-serif;
      margin-left: 30px;
    }
  }

  .rowCards {
    display: flex;
    gap: 15px;
    width: 100%;

    .gameCard {
      min-height: 230px;
    }
  }

  .gameList {
    display: flex;
    max-width: 65%;
    flex-wrap: wrap;
    gap: 15px;

    .gameCard {
      position: relative;
      background-color: $black;
      border-radius: 20px;
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: stretch;
      overflow: hidden;
      width: 100%;

      div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        min-height: 150px;
      }


      &:first-child {
        .imgPreview {
          max-width: 50%;
          position: relative;
          width: 50%;            
          height: auto;
          aspect-ratio: 2 / 1;
          min-height: 100px;
        }
      
      }
      
      h2, p {
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        font-family: 'Goia', sans-serif;
        margin:0px;
        text-align: left;
        width: 100%;
        z-index: 1;
      }

      h2 {
        font-size: 2rem;
        margin: 8px 0;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }

  .challengeWrapper {
    background: $reverse-gradient;
    padding: 4px;
    border-radius: 20px;
    width: 30%;
  }

  .challengeList {
    color: $black;
    background-color: $white;
    height: 100%;
    border-radius: 16px;
    display: flex;

    h3 {
      font-size: 2rem;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      font-family: 'Goia', sans-serif;
      margin: 20px;
    }
  }

}

.gameList > .gameCard:first-of-type > :first-child {
  width: 50%;            
}

.badge {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 4px 8px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 4px;
  z-index: 5;
  text-transform: uppercase;
  font-style: italic;
}

.badgeNew {
  background: $reverse-gradient;
  color: $white;
  border: 1px solid $white;
}

.badgeSoon {
  background-color: $white;
  color: $black;
  border: 1px solid $black;
}


.animatedSphere {
  width: 400px;
  height: 400px;
  opacity: 0.4;
  filter: blur(50px);
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -55%;
  z-index: 0;
  animation: moveBounce 5s ease-in-out infinite, rotate 30s linear infinite;
}

.animatedSphere--yellow {
  background: $yellow;
  left: -55%;
}


.animatedSphere--orange {
  background: $orange;
}

.animatedSphere--purple {
  background: $purple-heart;
}

@keyframes moveBounce {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(55px, -80px); }
}


@media screen and (max-width: 768px) {
  .home {
    margin-left: 0;
    height: auto;
    min-height: 100vh;

    .homeContent {
      padding: 100px 0;
      width: 100vw;

      h1 {
        margin-left: 10px;
      }
    }

    .homeContentContainer {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }

    .musicDecoration {
      right: 0;
      margin-right: 5vw;
    }

    .gameList {
      width: 100%;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;

      .gameCard {
        width: 100%;
        max-width: 400px;

        div:first-of-type {
          padding: 50px 20px;
          min-height: 190px;
        }

        &:first-child {
          flex-direction: column;

          .imgPreview {
            max-width: 100%;
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 2 / 1;
            min-height: 100px;
          }
        }

        .badge {
          left: 20px;
        }

      }


      > .gameCard:first-of-type {
        div {
          min-height: 120px;
        }
      }

    }

    .challengeWrapper {
      width: 100%;
      max-width: 400px;
      margin-bottom: 100px;
    }

    .animatedSphere {
      width: 250px;
      height: 300px;
    }
  }
}