@import './mixins.scss';
@import './variables.scss';

.home {
  margin-left: 20vw;
  background-color: $white;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;

  .homeContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .musicDecoration {
    height: auto;
    position: absolute;
    width: 200px;
    margin-left: 5vw;
  }

  .vinylDecoration {
    height: auto;
    position: absolute;
    width: 200px;
    bottom: -50px;
    right: 5vw;
  }

  .homeContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    h1 {
      @include textColorGradient;
    }
  }

  .rowCards {
    display: flex;
    gap: 15px;
    width: 100%;

    .gameCard {
      flex: 1;
      min-width: 0;
      flex-direction: column;
      justify-content: flex-end;  
      height: 200px;
    }
  }

  .gameList {
    display: flex;
    max-width: 65%;
    flex-wrap: wrap;
    gap: 15px;

    .gameCard {
      background-color: $black;
      border-radius: 20px;
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: stretch;
      overflow: hidden;

      div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
      }


      &:first-child {
        div:nth-of-type(2) {
          max-width: 50%;
        }
  
        div > img {
          width: 400px;
          height: 100%;
        }
      
      }
      
      h2, p {
        text-decoration: none;
        color: $white;
        font-weight: 700;
        font-style: italic;
        text-transform: uppercase;
        font-family: 'Goia', sans-serif;
        margin:0px;
        text-align: left;
        width: 100%;
      }

      h2 {
        font-size: 2rem;
        margin: 8px 0;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }

  .challengeWrapper {
    background: $reverse-gradient;
    padding: 4px;
    border-radius: 20px;
    width: 30%;
  }

  .challengeList {
    color: $black;
    background-color: $white;
    height: 100%;
    border-radius: 16px;
    display: flex;

    h3 {
      font-size: 2rem;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      font-family: 'Goia', sans-serif;
      margin: 20px;
    }
  }

}
