.mainRow {
  display: flex;
  flex-direction: row;
  height: 100vh; /* important pour que le scroll Y soit géré ici */
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  z-index: 0;
  @media (max-width: 1024px) {
    padding: 0;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(20vw + 55px); /* Positionne la ligne à gauche de .rightColumn */
    width: 1px;
    background-color: white;
    z-index: 1;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 2;
  padding: 0 40px 0 20px;

  @media (max-width: 1024px) {
    padding: 0 20px; 
  }
  /* Scrollbar stylisée */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #f59e0b;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ea8c00;
  }
}

.rightColumn {
  width: 20vw;
  padding-left: 32px;
  position: relative;
  z-index: 2;
  
  @media (max-width: 1024px) {
  position: absolute;
  width: 100%;
  padding: 0;
}

}

.title {
  font-weight: bold;
  font-style: italic;
  color: #FFA540;
  font-size: 40px;
  margin: 2rem 0 1rem 0;
  text-align: left;

  @media (max-width: 1024px) {
  font-size: 30px;
  text-align: center;
}

}

.detailsPanelMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #252525; // adapte cette couleur selon ton design
  z-index: 2000; // au-dessus de tout
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;

  &.open {
    transform: translateX(0);
  }
}
