.mainRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rightColumn {
  width: 20vw;
}

.title {
  font-weight: bold;
  font-style: italic;
  color: #FFA540;
  font-size: 4rem;
  margin: 2rem 0 1rem 0;
  padding: 0 1rem;
}
