.mainRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: calc(100vh - 40px); // important pour que le scroll Y soit géré ici
  overflow: hidden;
  padding: 20px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;

  /* Scrollbar stylisée */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #f59e0b;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ea8c00;
  }
}

.rightColumn {
  width: 20vw;
}

.title {
  font-weight: bold;
  font-style: italic;
  color: #FFA540;
  font-size: 4rem;
  margin: 2rem 0 1rem 0;
  padding: 0 1rem;
}
