.landingHead {
    width: 100%;
    border-bottom: 10px solid #1D1D1D;
    position: relative;
    background: linear-gradient(44.04deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%);
    position: relative;

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100px;
            height: 100px;
            margin: 15px;
        }

        div {
            display: flex;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 32px;
                gap: 10px;
                width: 250px;
                height: 60px;
                border-radius: 10000px;
                font-family: var(--font-goia);
                font-style: italic;
                font-weight: 600;
                font-style: italic;
                font-size: 18px;
                line-height: 26px;
                text-transform: uppercase;
                color: #FFF6F1;
                cursor: pointer;
                margin-right: 20px;
                text-decoration: none;

                p {
                    font-size: 30px;
                }
            }

            .loginButton {
                border: 2px solid #FFF6F1;
                background: none;
            }

            .registerButton {
                border: none;
                background: #F1203C;
            }
        }
    }

    .headerNav {
        display: flex;
        justify-content: space-around;
        align-items: left;
        flex-direction: column;
        padding: 20px 0;
        font-family: var(--font-goia);
        font-style: italic;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        text-transform: uppercase;

        position: absolute;
        text-align: left;
        top: 300px;
        left: 50px;


        a:first-child {
            color: #FFF6F1;
        }

        a {
            color: #9f9793a4;
            text-decoration: none;
        }
    }

    .headerContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 80vh;
        padding: 0 20px;

        div {
            div {
                h1 {
                    font-size: 2.5rem;
                    color: white;
                    width: 1200px;
                    margin: 0 auto;
                    font-family: var(--font-goia);
                    font-size: 96px;
                    font-style: italic;
                    line-height: 0px;
                    text-transform: uppercase;
                    color: #FFF6F1;

                    p {
                        padding: -50px 0;
                        text-transform: uppercase;
                        font-weight: 700;
                    }

                    p:nth-child(1) {
                        text-align: left;
                    }

                    p:nth-child(2) {
                        text-align: center;
                    }

                    p:nth-child(3) {
                        text-align: right;
                    }
                }

                .description {
                    width: 400px;
                    font-weight: 100;
                    font-style: italic;
                }

            }

            .playButton {

                box-sizing: border-box;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 16px 32px;
                gap: 10px;
                margin: 0 auto;
                font-size: 18px;
                color: #FFF6F1;
                font-family: var(--font-goia);
                font-weight: 700;
                font-size: 18px;

                background: linear-gradient(44.04deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%);
                border: 2px solid #FFF6F1;
                border-radius: 10000px;

            }
        }
    }

}