@import './mixins.scss';

.optionsContainer {
    margin-left: 20vw;
    display: flex;
    background-color: $white;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

}

.musicDecoration {
    height: auto;
    position: absolute;
    width: 200px;
    margin-left: 5vw;
}

.navTabs {
    display: flex;
    border-bottom: 2px solid rgba($black, 0.1);
    padding-left: 50px;
    margin-top: 180px;

    button {
        background: none;
        border: none;
        padding: 0.5rem 1.5rem;
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Goia', sans-serif;
        text-transform: uppercase;
        font-style: italic;
        text-decoration: none;
        cursor: pointer;
        color: $black;
        border-bottom: 2px solid transparent;
        transition: all 0.2s ease-in-out;
        border-right: 2px solid rgba($black, 0.1);

        &:hover {
        color: $red-violet;
        }
    }

    button:last-child {
        color: $red-ribbon;
        border-right: none;
    }

    .activeTab {
        color: $black;
        border-bottom: 3px solid $black;
    }
}


.generalSettings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 600px;
    margin: 2rem auto;

    .avatar {
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-weight: bold;
            font-family: 'Goia', sans-serif;
            text-transform: uppercase;
            font-style: italic;
            color: $black;
            font-size: 1rem;
        }

        input {
            padding: 0.75rem 1rem;
            border: 2px solid $black;
            background-color: transparent;
            border-radius: 20px;
        }
    }

    button {
        align-self: flex-end;
        padding: 0.75rem 1.5rem;
        background: $reverse-gradient;
        color: $white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-family: 'Goia', sans-serif;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1rem;

        &:disabled {
            background: #767676;
            cursor: not-allowed;
        }
    }

    .successMessage,
    .errorMessage,
    .infoMessage {
        font-family: 'Goia', sans-serif;
        font-style: italic;
        font-size: 0.9rem;
        text-transform: uppercase;
        margin-top: 1rem;
        font-weight: 700;
    }

    .successMessage {
        color: $emerald-green
    }

    .errorMessage {
        color: $red-ribbon;
    }

    .infoMessage {
        color: $orange;
    }
}

.passwordSettings {
    gap: 0.5rem;
}

.passwordHints {
    margin: 0;
    padding-left: 0.8rem;
    color: $black;
    font-family: 'Goia', sans-serif;
    font-weight: 600;

    li {
        margin-bottom: 0.25rem;
        transition: color 0.3s ease;
        margin-left: 20px;
    }

    .valid {
        color: $emerald-green;
    }

    .invalid {
        color: $red-ribbon;
    }
}
