@import './mixins.scss';

.drawer {
  width: 20vw;
  color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: start;
  font-family: 'GoiaDisplay', sans-serif;


   // Ajout du scroll
  height: 100%;
  max-height: 98vh;
  overflow-y: auto;
  scrollbar-width: thin; // Pour Firefox
  scrollbar-color: #888 transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  @media (max-width: 1024px){
    width: calc(100% - 37px);
    padding: 0 16px;
    max-height: 100vh;
    background: #252525;
    border-left: 1px solid #ffffff;
  }
}

.playButton {
  margin-top: auto;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background: var(--Gradient, linear-gradient(44deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%));
  border: none;
  border-radius: 999px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(1.1);
  }
}

.coverImage {
  width: 90%;
  height: 25%;
  border-radius: 0.75rem;
  object-fit: cover;
  object-position: top;
  margin: 1vw auto;

  @media (max-width: 1024px) {
    margin: 30px auto 10px auto;
    width: 50%;
    height: auto;
    max-height: 200px;
  }
}

.songTitle {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

.songSinger {
  font-size: 14px;
  color: white;
  margin: 0 0 12px 0;
}

.tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.styleTag {
  background: white;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 0.7rem;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
}

.difficulty {
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  text-align: center;
  font-style: italic;
}

.facile {
  background-color: #34d399;
}
.moyen {
  background-color: #f59e0b;
}
.difficile {
  background-color: #ef4444;
}
.impossible {
  background-color: #a855f7;
}
.unknown {
  background-color: #9ca3af;
}

.section {
  margin-bottom: 1.5rem;

  h3 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #facc15;
  }

  p, li {
    font-size: 0.8rem;
    color: #e5e5e5;
  }

  ul {
    list-style: disc;
    padding-left: 1.25rem;
  }
}

.playButton {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 64px;
  background: var(--Gradient, linear-gradient(44deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%));
  border: 0 solid transparent;
  color: white;
  font-family: 'GoiaDisplay', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center;

  &:hover {
    filter: brightness(0.8);
  }
}

.gameBlock {
  margin-bottom: 1.5rem;

  .gameHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.75rem;

    .title {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: white;
      font-size: 1rem;

      .icon {
        stroke-width: 2.2;
      }
    }

    .date {
      font-size: 0.85rem;
      color: white;
    }
  }

  .statsRow {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
    padding-top: 0.75rem;
  }

  .stat {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;

    &:last-child {
      border-right: none;
    }

    .label {
      font-size: 0.75rem;
      font-style: italic;
      font-weight: bold;
      color: #dcdcdc;
      margin-bottom: 0.3rem;
    }

    .value {
      font-size: 0.9rem;
      font-style: italic;
      font-weight: bold;
      color: white;
    }
  }
}
.section {
  margin-bottom: 1.5rem;

  .sectionHeader {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 1rem;

    .icon {
      stroke-width: 2.2;
    }
  }

  .checkboxRow {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    font-size: 0.9rem;
    color: white;
    margin-bottom: 0.75rem;
    line-height: 1.4;

    input[type="checkbox"] {
      appearance: none;
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 4px;
      border: 2px solid white;
      background: transparent;
      margin-top: 0.1rem;
      position: relative;
      cursor: pointer;

      &:checked {
        background-color: white;

        &::after {
          content: "✔";
          position: absolute;
          top: 0;
          left: 0;
          font-size: 0.85rem;
          color: black;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.premiumFilterCount{
  border: 1px solid rgba(255, 246, 241, 0.50);
  border-radius: 999px;
  display: flex;
  padding: 1px 6px 1px 4px;
  justify-content: center;
  align-items: center;
}

.premiumPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.premiumPopupContent {
  background-color: $background-color;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* Pour positionner la croix */
}

.premiumPopupContent h2 {
  margin-bottom: 15px;
  font-size: 24px;
  background: -webkit-linear-gradient(44deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.premiumPopupContent p {
  margin-bottom: 20px;
  font-size: 16px;
  color: $white;
}

.premiumPopupButtons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.subscribeButton {
  padding: 10px 20px;
  background: var(--Gradient, linear-gradient(44deg, #8E43AD 3.69%, #AA387D 23.45%, #D63251 48.76%, #F7352D 74.65%, #FA9B4F 94.55%));
  color: $white;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;

  &:hover {
    filter: brightness(0.8);
  }
}

.closeButton {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid $white;
  color: $white;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  color: $white;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $red-ribbon;
  }
}


@media screen and (max-width: 768px) {
  .playButton{
    margin-bottom: 100px;
  }
  
}